$black: #111;
$primary: #41a93d;
$primary-light: #7bd178;
$text-white: #fff;
$text-gray: #a0a0a0;
$text-dark: #5c5c5c;
$border-1: #353535;
$border-2: #262626;
$bg-dark-1: #1e1e1e;
$bg-dark-2: #151515;
$bg-light-gray: #262626;
$silver: #5c5c5c;